*.iml
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/encodings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/vcs.xml
/.idea/caches
/.idea/codeStyles
/.idea/dictionaries
/.idea/assetWizardSettings.xml
/.idea/inspectionProfiles
/.idea/navEditor.xml
/.idea/misc.xml
/.idea/android-apptoolbox.iml
/.idea/codeStyles/Project.xml
/.idea/modules.xml
/.idea/vcs.xml
.gradle/*
