<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hutchins.navuitest">

    <application android:allowBackup="true"
                 android:fullBackupContent="false"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/BaseNavUiTheme">

        <activity android:name=".side.SideNavActivity"
                  android:label="Side Nav Activity"
                  android:taskAffinity=".side.SideNavActivity"
                  android:theme="@style/SampleSideNavTheme"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".bottom.BottomNavActivity"
                  android:label="Bottom Nav Activity"
                  android:taskAffinity=".bottom.BottomNavActivity"
                  android:theme="@style/SampleBottomNavTheme"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".nonav.NoNavActivity"
                  android:label="No Nav Activity"
                  android:taskAffinity=".nonav.NoNavActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
